<div class="row name-font">
  <div class="col-md-6 col-md-offset-3">
    <div class="well form-color-style">
        <h1 class="text-center">Create Your Profile</h1>
            <p class="text-center">Become a part of Meet the Medics community and fill out your profile</p>
              <div class="well form-color-style">
                <%= render 'form' %>
              </div>
              
    </div>
  </div>
</div>

