<div class="container">
<div class="well name-font form-color-style">  
<h1 class="text-center">Who we are</h1>

<p class="about-font">Hello and welcome to our site! We are a community of Physicians, Marketers and Scientists. We all share the same interest in helping developing medicines as well as novel ways in which to market them as well. <br> 
If you are intrested, please sign up to join our community and get to meet other professionals such as yourself.</p>
</div>
</div>
