<%= link_to "Create your profile",  new_user_profile_path(current_user) if current_user %>

<div class="jumbotron text-center">
    <h1>Meet The Medics</h1>
    <h3>A Platform where the Industry and Universities can meet some intrested Physicians to share ideas looking to test or market medicines</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Free Membership</h2>
      <h4>Create a free account with us for entry level access to view the community.</h4>
      <br/>
      <%= link_to "Sign up for a free membership", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Premium Membership</h2>
      <h4>Create a premium account with us for £7/month and gain full access to the community and see all contact information</h4><br>
      <%= link_to "Sign up for a premium membership", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>
