/* Avatar Sizeon (users/show)  */
.user-show-avatar{
  height: 140px;
  width: 140px;
  border-radius: 5px;
  border: 1px solid black;
}
/* Users index page styles on Visit the community Page (Users/index)*/

   /* This highlights users name in Navbar*/

.pname {
    color: #D4AF37;  
    padding-top: 15px;
    padding-bottom: 15px;
}

/* This collapses the margin from the top on certain h tags */
.show-page-header{
    margin-top: 0px;
}

/* Greys out the footer section */

.me a{
    color: #d3d3d3;
}

.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
    
}

/* edit Button Colour outside of bootstrap range -used javascript for transition*/

.btn-default-orange {
    background:#FFA500;
    color: #ffffff ;
}

/* Well effects */

.well.profile-description{
    color:#fff;
    background-color: #337ab7;
    border-color: #4cae4c;
    border-radius: 6px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.contact-info {
  background-color: #5cb85c;
  border-radius: 6px;
  
}

.name-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-color-style {
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
        background: #f0f9ff; /* Old browsers */
        background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

.about-font {
  font-size: 16px;
}

